<!-- <div class="text-center"> -->
  <a href="/" class="btn btn-primary">HOME</a>
<!-- </div> -->

<h1> UPDATE CUSTOMER </h1>


<table class="table table-responsive table-hover">

  <thead>
    <th>Parameter</th>
    <th>Customer data</th>
  </thead>

  <tbody>

    <tr >
      <td>ID</td>
      <td><%= @customer.id %></td>
    </tr>
    <tr>
      <td>Vardas</td>
      <td><%= @customer.full_name %></td>
    </tr>
    <tr>
      <td>Pavarde</td>
      <td><%= @customer.surname %></td>
    </tr>
    <tr>
      <td>Asmens kodas</td>
      <td><%= @customer.code %></td>
    </tr>
    <tr>
      <td>Amzius</td>
      <td><%= @customer.age %></td>
    </tr>

  </tbody>
</table>

<div class="text-center">
  <a href="/customers/<%= @customer.id %>/edit" class="btn btn-primary">EDIT CUSTOMER</a>
</div>
